<!DOCTYPE html>
<html lang="zh-CN">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>管理中心</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>


<body class="login-page">


<div class="background">

    <div class="light light-one"></div>

    <div class="light light-two"></div>

    <div class="light light-three"></div>


    <div class="stars">

        <div class="star star-one"></div>
        <div class="star star-two"></div>
        <div class="star star-three"></div>

    </div>


</div>





<main class="login-container">


<section class="login-card">


<h1>

管理中心

</h1>



<p class="login-subtitle">

私人空间控制入口

</p>





<form method="POST">



<div class="input-box">


<input

type="text"

name="username"

placeholder="管理员账号"

autocomplete="off"

required>


</div>





<div class="input-box">


<input

type="password"

name="password"

placeholder="管理员密码"

required>


</div>





<button type="submit">

进入后台

</button>



</form>




</section>


</main>





</body>

</html>