<!DOCTYPE html>
<html lang="zh-CN">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>我们的聊天</title>

<link rel="stylesheet" href="/static/css/main.css">

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

</head>


<body class="chat-page">


<div class="chat-background">

    <div class="chat-light pink"></div>

    <div class="chat-light blue"></div>

    <div class="chat-light purple"></div>

</div>



<main class="chat-container">



<header class="chat-header">


<a href="/home" class="back">
←
</a>



<div class="avatar">

<img

src="/static/uploads/avatar/{{ other_profile.avatar }}"

onerror="this.src='/static/uploads/avatar/default.png'"

>

</div>



<div class="chat-user">


<h2>

{{ other }}

</h2>



<p>

<span id="chat-status-dot"></span>

<span id="chat-status-text">
检测中...
</span>


<span id="unread"></span>

</p>


</div>


</header>





<section class="messages" id="messages">

</section>






<footer class="chat-input">


<div class="plus-box">


<button

class="plus-btn"

onclick="toggleMenu()"

>

+

</button>



<div id="plus-menu" class="plus-menu">


<button onclick="chooseImage()">

图片

</button>


<button onclick="chooseFile()">

文件

</button>


<button onclick="camera()">

拍照

</button>


</div>


</div>





<input

type="file"

id="image"

accept="image/*"

hidden

>



<input

type="file"

id="camera"

accept="image/*"

capture="environment"

hidden

>



<input

type="file"

id="file"

hidden

>




<input

id="message"

placeholder="输入消息..."

autocomplete="off"

>


<button
class="voice-btn"
id="voice-btn"
>
<span class="mic-icon"></span>
</button>


<button

class="emoji-btn"

onclick="emojiOpen()"

>

😊

</button>


</footer>


<div id="record-panel">

<div class="record-title">
正在录音
</div>

<div class="record-wave">
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
</div>

<div id="record-time">
0:00
</div>

</div>


<div id="camera-box" style="display:none;">


<video

id="camera-video"

autoplay

playsinline

style="
width:100%;
max-width:320px;
border-radius:20px;
"

>

</video>



<button onclick="takePhoto()">

拍照

</button>



<button onclick="closeCamera()">

关闭

</button>


</div>





</main>
<script>

const currentUser="{{ user }}";

const socket=io();



/* 在线状态 */

function loadStatus(){


fetch("/status")

.then(res=>res.json())

.then(data=>{


const text=document.getElementById(
"chat-status-text"
);


const dot=document.getElementById(
"chat-status-dot"
);



if(data.online){


text.innerHTML="在线";


dot.style.background="#22c55e";


dot.style.boxShadow=
"0 0 10px #22c55e";



}else{


text.innerHTML="离线";


dot.style.background="#94a3b8";


dot.style.boxShadow="none";


}


})

.catch(()=>{


document.getElementById(
"chat-status-text"
).innerHTML="离线";


});

}



function heartbeat(){


fetch("/heartbeat");


}



loadStatus();


heartbeat();



setInterval(

loadStatus,

5000

);



setInterval(

heartbeat,

10000

);





function formatChatTime(time){


if(!time){

return "";

}



if(time.length>=16){


return time.substring(11,16);


}



return time;


}







function addBubble(msg){



const box=document.getElementById(
"messages"
);



const div=document.createElement(
"div"
);



div.className=

msg.sender===currentUser

?

"bubble mine"

:

"bubble other";





let pressTimer=null;


div.addEventListener(
"touchstart",
function(e){

e.preventDefault();


pressTimer=setTimeout(function(){


if(

msg.sender===currentUser

&&

msg.withdrawn!=1

){

withdrawMessage(msg.id);

}


},700);


},
{
passive:false
}
);



div.addEventListener(
"touchend",
function(){


clearTimeout(
pressTimer
);


}
);



div.addEventListener(
"contextmenu",
function(e){

e.preventDefault();


if(

msg.sender===currentUser

&&

msg.withdrawn!=1

){

withdrawMessage(msg.id);

}


}
);



let html="";





if(msg.withdrawn==1){


html=`

<div class="withdraw-message">

该消息已撤回

</div>

`;



}else{





if(msg.quote_text){


html+=`

<div class="quote-box">

引用：${msg.quote_text}

</div>

`;



}





if(msg.type==="image"){



html+=`

<img

src="/static/uploads/chat/${msg.content}"

class="chat-image"

onclick="window.open(this.src)"

>

`;



}

else if(msg.type==="file"){



html+=`

<a

class="file-message"

href="/static/uploads/file/${msg.content}"

target="_blank"

>

📄 ${msg.content}

</a>

`;



}

else if(msg.type==="voice"){

html+=`

<div class="voice-message">

<audio controls>

<source src="/static/uploads/voice/${msg.content}">

</audio>

${msg.voice_text ? 
`
<div class="voice-text">
${msg.voice_text}
</div>
`
:
""}

</div>

`;

}

else{



html+=`

<div class="message-text">
${msg.content}
</div>

`;



}



}



html+=`

<div class="message-time">
${formatChatTime(msg.time)}
</div>

`;



div.innerHTML=html;



box.appendChild(div);



box.scrollTop=

box.scrollHeight;



}








socket.on(

"receive_message",

function(msg){


addBubble(msg);


}

);








function loadMessages(){


fetch("/chat/messages")


.then(res=>res.json())


.then(data=>{


const box=document.getElementById(
"messages"
);


box.innerHTML="";


let lastDate="";



data.forEach(msg=>{


const currentDate=new Date(msg.time)
.toLocaleDateString(
"zh-CN",
{
    year:"numeric",
    month:"long",
    day:"numeric"
}
);



if(currentDate!==lastDate){


const dateDiv=document.createElement(
"div"
);


dateDiv.className="chat-date";


dateDiv.innerHTML=`

<span>${currentDate}</span>

`;


box.appendChild(dateDiv);


lastDate=currentDate;


}



addBubble(msg);


});


});


}






function sendMessage(){



const input=document.getElementById(
"message"
);



const text=input.value.trim();



if(!text){

return;

}



socket.emit(

"send_message",

{

sender:currentUser,

content:text,

type:"text"

}

);



input.value="";


}







function toggleMenu(){


document

.getElementById(
"plus-menu"
)

.classList.toggle(
"show"
);


}







function chooseImage(){


document

.getElementById(
"image"
)

.click();


}







function chooseFile(){


document

.getElementById(
"file"
)

.click();


}





function uploadFile(file,type){



if(!file){

return;

}



const form=new FormData();



form.append(

type,

file

);




let url=

type==="image"

?

"/chat/upload"

:

"/chat/file/upload";




fetch(

url,

{

method:"POST",

body:form

}

)

.then(()=>{


loadMessages();


});


}







document

.getElementById("image")

.addEventListener(

"change",

function(){


uploadFile(

this.files[0],

"image"

);



this.value="";


}

);







document

.getElementById("file")

.addEventListener(

"change",

function(){


uploadFile(

this.files[0],

"file"

);



this.value="";


}

);
let cameraStream=null;



function camera(){


const isMobile=

/Android|iPhone|iPad|iPod/i.test(

navigator.userAgent

);



if(isMobile){


document

.getElementById(
"camera"
)

.click();


return;

}



document

.getElementById(
"camera-box"
)

.style.display="block";



navigator.mediaDevices

.getUserMedia({

video:true

})

.then(stream=>{


cameraStream=stream;



document

.getElementById(
"camera-video"
)

.srcObject=stream;



})

.catch(()=>{


alert(
"无法访问摄像头"
);


});


}







document

.getElementById("camera")

.addEventListener(

"change",

function(){


uploadFile(

this.files[0],

"image"

);



this.value="";


}

);







function takePhoto(){


const video=

document.getElementById(
"camera-video"
);



const canvas=

document.createElement(
"canvas"
);



canvas.width=

video.videoWidth;



canvas.height=

video.videoHeight;



const ctx=

canvas.getContext(
"2d"
);



ctx.drawImage(

video,

0,

0

);



canvas.toBlob(

blob=>{


const form=new FormData();



form.append(

"image",

blob,

"camera.jpg"

);



fetch(

"/chat/upload",

{

method:"POST",

body:form

}

)

.then(()=>{


loadMessages();


});


},

"image/jpeg"

);



closeCamera();


}







function closeCamera(){


if(cameraStream){


cameraStream

.getTracks()

.forEach(

track=>track.stop()

);



cameraStream=null;


}



document

.getElementById(
"camera-box"
)

.style.display="none";


}








function emojiOpen(){


alert(

"表情功能开发中"

);


}







function withdrawMessage(id){



if(!confirm(

"撤回这条消息？"

)){


return;

}



fetch(

"/chat/withdraw/"+id,

{

method:"POST"

}

)

.then(()=>{


loadMessages();


});


}








let recorder=null;
let recordStream=null;
let recordChunks=[];
let recordTimer=null;
let recordSeconds=0;
let isRecording=false;
let pressStarted=false;


const voiceBtn=document.querySelector("#voice-btn");


function updateRecordTime(){

let min=Math.floor(recordSeconds/60);

let sec=recordSeconds%60;

sec=sec<10?"0"+sec:sec;


document.getElementById("record-time").innerHTML=

min+":"+sec;

}



function animateWave(){

const waves=document.querySelectorAll(
".record-wave span"
);


waves.forEach(item=>{

let h=Math.random()*25+8;

item.style.height=h+"px";

});


}



function startRecord(){


if(isRecording){

return;

}


navigator.mediaDevices.getUserMedia({

audio:true

})

.then(stream=>{


isRecording=true;


recordStream=stream;


recorder=new MediaRecorder(stream);


recordChunks=[];



recorder.ondataavailable=function(e){


if(e.data.size>0){

recordChunks.push(e.data);

}

};





recorder.onstop=function(){

    setTimeout(()=>{

        if(recordChunks.length===0){

            console.log("没有录音数据");

            return;

        }


        const blob=new Blob(

            recordChunks,

            {
                type:"audio/webm;codecs=opus"
            }

        );


        if(blob.size < 1000){

            console.log(
                "录音文件过小:",
                blob.size
            );

            return;

        }


        const form=new FormData();


        form.append(

            "voice",

            blob,

            "voice.webm"

        );



        fetch(

            "/chat/voice",

            {

                method:"POST",

                body:form

            }

        )

        .then(()=>{

            loadMessages();

        });



    },300);


};



recorder.start();



document.getElementById(
"record-panel"
)
.style.display="flex";



recordSeconds=0;


updateRecordTime();



recordTimer=setInterval(()=>{


recordSeconds++;


updateRecordTime();


animateWave();



if(recordSeconds>=60){

stopRecord();

}


},1000);



})

.catch(()=>{


alert(
"无法使用麦克风"
);


});

}




function stopRecord(){


if(!isRecording){

return;

}


isRecording=false;


if(recorder){

recorder.stop();

recorder=null;

}



if(recordStream){

recordStream

.getTracks()

.forEach(

track=>track.stop()

);


recordStream=null;

}



clearInterval(recordTimer);


recordTimer=null;



document.getElementById(
"record-panel"
)
.style.display="none";


}




/* 手机长按录音 */

voiceBtn.addEventListener(

"touchstart",

function(e){

e.preventDefault();


pressStarted=true;


startRecord();


},

{

passive:false

}

);



voiceBtn.addEventListener(

"touchend",

function(e){

e.preventDefault();


if(pressStarted){

stopRecord();

}


pressStarted=false;


},

{

passive:false

}

);



voiceBtn.addEventListener(

"touchcancel",

function(){

stopRecord();

pressStarted=false;

}

);



/* 防止长按选择文字 */

voiceBtn.addEventListener(

"contextmenu",

function(e){

e.preventDefault();

}

);



/* PC测试 */

voiceBtn.addEventListener(

"mousedown",

function(){

startRecord();

}

);



voiceBtn.addEventListener(

"mouseup",

function(){

stopRecord();

}

);



function loadUnread(){


fetch("/chat/unread")

.then(res=>res.json())

.then(data=>{


const el=

document.getElementById(
"unread"
);



if(data.count>0){


el.innerHTML=

" · "+data.count+"条新消息";


}else{


el.innerHTML="";


}


});


}







document

.getElementById("message")

.addEventListener(

"keydown",

function(e){


if(e.key==="Enter"){


sendMessage();


}


}

);







loadMessages();


loadUnread();



setInterval(

loadUnread,

3000

);



</script>


</body>

</html>